<div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="alert alert-info" role="alert">
                Please Click on the all 10 links below one by one.
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-2 offset-lg-5">
        <ul class="list-unstyled">
            <li class="mt-2">
                <a routerLink="/linkone">Link 1</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linktwo">Link 2</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkthree">Link 3</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkfour">Link 4</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkfive">Link 5</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linksix">Link 6</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkseven">Link 7</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkeight">Link 8</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linknine">Link 9</a>
            </li>
            <li class="mt-2">
                <a routerLink="/linkten">Link 10</a>
            </li>
        </ul>
    </div>
</div>
