 <div class="row">
  <div class="col-lg-12">
    <div style="text-align:center" class="mt-1">
      <!--h3>
        Welcome to {{ title }}!
      </h3 -->
      <img width="100" height="100" alt="Angular Logo" src="/assets/images/sandt.png">
      <div class="mt-1">Professor: <b>Fiona Fui-Hoon Nah, Ph.D.</b>
        <small>Professor of Business & Information Technology</small></div>
      <div class="mt-2"> Study Conducted By: <b>Deepak Baghel</b> <small>Master Student at IST department</small></div>
      <div>Email: <b>dbwfz@mst.edu</b></div>
      <div>Contact: <b>(573) 202-0192</b></div>
      <div>University: <b>Missouri University Of Science & Technology</b></div>
      </div>
  </div>
</div>
<div class="row mt-5">
    <div class="col-lg-12">
        <h4 class="text-success">This is a research experiment. Please read the instruction carefully.</h4>
        <h5 class="mt-2">1. Please don't press browser back button in any situation.</h5>
        <h5>2. Please fill all the information if asked.</h5>
        <h5>3. If you have any question then please contact me.</h5>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-2 offset-lg-4">
        <a class="btn btn-primary" routerLink="/details" role="button">Start Experiment <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
